NETWORK=Mainnet
BLOCKFROST_PROJECT_ID=
TAPTOOLS_API_KEY=

PRIVKEY=
ADDRESS_TEST=

STAKE_POOL_ID=6658713e2cbfa4e347691a0435953f5acbe9f03d330e94caa3a0cfb4
DREP_ID=drep1yftc8zs7gjcj4a9nxzplz4wg6cwweya0kxp8adnw59vsyrqvrysud

# Pair + sizes
TOKEN_A=ADA
TOKEN_B=USDM
AMOUNT_A_DEC=50
AMOUNT_B_DEC=25

# Strategy
#slippage in percentage 0.5 = 0.5%
SLIPPAGE_PCT=0.5
FEE_CAP_PCT=0.20
#How wide your “no-trade band” is around the EMA center, 200 = 2%
BAND_BPS=80
#How fast the EMA center follows price.
BAND_ALPHA=0.06
#Extra “push” beyond the band before you actually trade (5 → you require an extra 0.05% beyond the band edge.)
#Higher (e.g., 15–25) → more conservative, fewer trades.
#Lower (e.g., 0–2) → more sensitive, more trades, more noise.
EDGE_BPS=15
COOLDOWN_MS=90000

# Runtime
#time between data pull for trade
POLL_MS=15000
#real or test (true || false)
DRY_RUN=true
#only return verified tokens true or false
ONLY_VERIFIED=true

RESERVE_ADA_DEC=0
MAX_PCT_A=15
MAX_PCT_B=15
MIN_TRADE_A_DEC=5
MIN_TRADE_B_DEC=50
MIN_NOTIONAL_OUT=0

#backtesting
BT_INTERVAL=1h
BT_MAX_POINTS=500
BT_START_ADA=1000
BT_START_TOKB=0
BT_PRICE_IS_B_PER_A=false

SWEEP_BAND_BPS=80,120,160
SWEEP_BAND_ALPHA=0.04,0.06,0.08
SWEEP_EDGE_BPS=15,25,35
SWEEP_AMOUNT_A_DEC=25,50
SWEEP_AMOUNT_B_DEC=25,50


